{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}  {% endblock%}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Darmaltoon App">
    <meta name="author" content="Sayed">
    <!-- Custom fonts for this template-->
    <link href="/static/dashboard/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/static/dashboard/css/sb-admin-2.min.css" rel="stylesheet">
</head>
<body id="page-top">
    
        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top d-flex flex-row align-items-center justify-content-around">



    


                <!-- Nav Item - Language Information -->
                <li class="nav-item dropdown no-arrow mx-1 mr-5">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-globe-asia fa-lg"></i>
                        <span class="badge badge-primary badge-counter">{% blocktrans context "Language"%}English{% endblocktrans %}</span>
                    </a>

                    <!-- Dropdown - Language Information -->
                    <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                        aria-labelledby="userDropdown">
                        
                            <a class="dropdown-item" href="/en/user/login">
                                <i class="fas fa-globe-asia fa-sm fa-fw mr-2 text-primary"></i>
                                English
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/ps/user/login">
                                <i class="fas fa-globe-asia fa-sm fa-fw mr-2 text-primary"></i>
                                Pashto
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/fa/user/login">
                                <i class="fas fa-globe-asia fa-sm fa-fw mr-2 text-primary"></i>
                                Dari
                            </a>
                            <div class="dropdown-divider"></div>
                       
                    </div>
                </li>

  









                
        
                    
                

            </ul>

        </nav>
        <!-- End of Topbar -->
        {%block template %}



        {%endblock %}

        <script>
            // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
        'use strict'
        
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation')
        
        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
          .forEach(function (form) {
            form.addEventListener('submit', function (event) {
              if (!form.checkValidity()) {
                event.preventDefault()
                event.stopPropagation()
              }
        
              form.classList.add('was-validated')
            }, false)
          })
        })()
        
        
        </script>
<!-- Bootstrap core JavaScript-->
<script src="/static/dashboard/vendor/jquery/jquery.min.js"></script>
<script src="/static/dashboard/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/static/dashboard/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/static/dashboard/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="/static/dashboard/vendor/chart.js/Chart.min.js"></script>

<!-- Page level custom scripts -->
<script src="/static/dashboard/js/demo/chart-area-demo.js"></script>
<script src="/static/dashboard/js/demo/chart-pie-demo.js"></script>


</body>

</html>















