{% load static %}
{% load i18n %}
{% load custom_filters %}

<!DOCTYPE html>
<html lang="{{ request.session.django_language }}">
<head>
    <title>{% blocktrans %}Darmaltoon{% endblocktrans %}&nbsp;|&nbsp;{% block title %}{% blocktrans %}Dashboard{% endblocktrans %}{% endblock%}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Custom fonts for this template-->
    <link rel="icon" type="image/png" href="{% static 'dashboard/img/favicon.png' %}">
    <link href="{% static 'dashboard/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'dashboard/css/custom.css' %}" rel="stylesheet">
    <link href="{% static 'dashboard/css/sb-admin-2.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="{% static 'dashboard/vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
    




</head>
<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion sticky-top" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'dashboard' %}">
                <div class="sidebar-brand-icon">
                    <img style="max-width:40px;" src="{% static 'dashboard/img/brand2.png' %}">
                </div>
                <div class="sidebar-brand-text mx-3">{% blocktrans %}Darmaltoon{% endblocktrans %}</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'dashboard' %}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>{% blocktrans %}Dashboard{% endblocktrans %}</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                {% blocktrans %}Inventory{% endblocktrans %}
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseMedicine"
                    aria-expanded="true" aria-controls="collapseMedicine">
                    <i class="fas fa-pills"></i>
                    <span>{% blocktrans %}Medicines{% endblocktrans %}</span>
                </a>
                <div id="collapseMedicine" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">{% blocktrans context "Medicines  List" %}Medicines list{% endblocktrans %}</h6>
                        <a class="collapse-item" href="{% url 'medicinelist' %}">{% blocktrans context "Stock Medicines" %}Stock Medicines{% endblocktrans %}</a>
                        <a class="collapse-item" href="{% url 'medicinehistory' %}">{% blocktrans context "Medicines Log" %}Medicines Log{% endblocktrans %}</a>
                        <a class="collapse-item" href="{% url 'soldmedicine' %}">{% blocktrans context "Sold Medicines" %}Sold Medicines{% endblocktrans %}</a>
                        <a class="collapse-item" href="{% url 'addmedicine' %}">{% blocktrans context "Add Medicine" %}Add Medicine{% endblocktrans %}</a>
                        <a class="collapse-item" href="{% url 'addmedicaltype' %}">{% blocktrans %}Add Medical Type{% endblocktrans %}</a>
                        <a class="collapse-item" href="{% url 'viewmedicaltype' %}">{% blocktrans %}View Medical Type{% endblocktrans %}</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseexpiration "
                    aria-expanded="true" aria-controls="collapseexpiration">
                    <i class="fas fa-calendar-times"></i>
                    <span>{% blocktrans %}Expiration{% endblocktrans %}</span>
                </a>
                <div id="collapseexpiration" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">{% blocktrans %}Expiration Date{% endblocktrans %}</h6>
                        <a class="collapse-item" href="{% url 'expired' %}">{% blocktrans %}Expired{% endblocktrans %}</a>
                        <a class="collapse-item" href="{% url 'soon' %}">{% blocktrans %}Expiring Soon{% endblocktrans %}</a>
                        <a class="collapse-item" href="{% url 'thismonth' %}">{% blocktrans %}Expiring This Month{% endblocktrans %}</a>
                    </div>
                </div>
            </li>



            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCompany"
                    aria-expanded="true" aria-controls="collapseCompany">
                    <i class="fas fa-pills"></i>
                    <span>{% blocktrans %}Manufacturer{% endblocktrans %}</span>
                </a>
                <div id="collapseCompany" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="{% url 'viewcompany' %}">{% blocktrans %}View Companies{% endblocktrans %}</a>
                        <a class="collapse-item" href="{% url 'companylog' %}">{% blocktrans %}Company Update Log{% endblocktrans %}</a>
                        <a class="collapse-item" href="{% url 'addcompany' %}">{% blocktrans %}Add Company{% endblocktrans %}</a>
                    </div>
                </div>
            </li>


            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCustomers"
                    aria-expanded="true" aria-controls="collapseCustomers">
                    <i class="far fa-address-book"></i>
                    <span>{% blocktrans context "Customers" %}Customers{% endblocktrans %}</span>
                </a>
                <div id="collapseCustomers" class="collapse" aria-labelledby="headingUtilities"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">{% blocktrans context "Customer's Data" %}Customer's Data{% endblocktrans %}</h6>
                        <a class="collapse-item" href="{% url 'customers' %}">{% blocktrans %}View Customers{% endblocktrans %}</a>
                        <a class="collapse-item" href="{% url 'addcustomer' %}">{% blocktrans %}Add Customer{% endblocktrans %}</a>
                    </div>
                </div>
            </li>


            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                {% blocktrans %}Finance{% endblocktrans %}
            </div>

             <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseEarnings"
                    aria-expanded="true" aria-controls="collapseEarnings">
                    <i class="fas fa-dollar-sign"></i>
                    <span>{% blocktrans %}Earnings{% endblocktrans %}</span>
                </a>
                <div id="collapseEarnings" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">{% blocktrans %}Sales Data{% endblocktrans %}</h6>
                        <a class="collapse-item" href="{% url 'viewinvoicesmonth' %}">{% blocktrans %}Earning&nbsp;Monthly{% endblocktrans %}</a>
                        <a class="collapse-item" href="{% url 'viewinvoicesyear' %}">{% blocktrans %}Earning&nbsp;Annually{% endblocktrans %}</a>
                        <a class="collapse-item" href="{% url 'viewinvoices' %}">{% blocktrans %}Earning&nbsp;Lifetime{% endblocktrans %}</a>
                    </div>
                </div>
            </li>


             <!-- Nav Item - Pages Collapse Menu -->
             <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseInvoices"
                    aria-expanded="true" aria-controls="collapseInvoices">
                    <i class="fas fa-receipt"></i>
                    <span>{% blocktrans %}Invoices{% endblocktrans %}</span>
                </a>
                <div id="collapseInvoices" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">{% blocktrans %}Sales Data{% endblocktrans %}</h6>
                        <a class="collapse-item" href="{% url 'invoicerequest' %}">{% blocktrans %}New Invoice{% endblocktrans %}</a>
                        <a class="collapse-item" href="{% url 'additemstoinvoice' %}">{% blocktrans %}Add Items{% endblocktrans %}</a>
                        <a class="collapse-item" href="{% url 'viewinvoices' %}">{% blocktrans %}View Invoices{% endblocktrans %}</a>
                        <a class="collapse-item" href="{% url 'viewinvoices' %}">{% blocktrans %}Download Invoices{% endblocktrans %}</a>
                    </div>
                </div>
            </li>


            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                {% blocktrans %}Actor{% endblocktrans %}
            </div>


            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUsers"
                    aria-expanded="true" aria-controls="collapseUsers">
                    <i class="fas fa-fw fa-user"></i>
                    <span>{% blocktrans %}Users{% endblocktrans %}</span>
                </a>
                <div id="collapseUsers" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">{% blocktrans %}Users info{% endblocktrans %}</h6>
                        <a class="collapse-item" href="{% url 'usersdetails' %}">{% blocktrans %}View Users{% endblocktrans %}</a>
                        <a class="collapse-item" href="{% url 'admindetails' %}">{% blocktrans %}View Admins{% endblocktrans %}</a>
                        <a class="collapse-item" href="{% url 'moddetails' %}">{% blocktrans %}View Moderators{% endblocktrans %}</a>
                        {% if user_type == 'admin' %}
                        <a class="collapse-item" href="{% url 'signup'%}">{% blocktrans %}Add User{% endblocktrans %}</a>
                        {% endif %}
                        <a class="collapse-item" href="#confirmChangePasswordModal" data-toggle="modal">{% blocktrans %}Change Password{% endblocktrans %}</a>
                        <div class="collapse-divider"></div>
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->


<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

            <!-- Sidebar Toggle (Topbar) -->
            <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                <i class="fa fa-bars"></i>
            </button>

            <!-- Topbar Search -->
            <form action="{% url 'globalsearch' %}" method="GET"
                class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search" autocomplete="off">
                {% csrf_token %}
                <div class="input-group">
                    <input type="text" class="form-control bg-light border-0 small" placeholder="{% blocktrans %}Search for...{% endblocktrans %}"
                        aria-label="Search" aria-describedby="basic-addon2" name="search_query">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">
                            <i class="fas fa-search fa-sm"></i>
                        </button>
                    </div>
                </div>
            </form>

            <!-- Topbar Navbar -->
            <ul class="navbar-nav ml-auto">

                <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                <li class="nav-item dropdown no-arrow d-sm-none mx-1">
                    <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-search fa-fw"></i>
                    </a>
                    <!-- Dropdown - Messages -->
                    <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                        aria-labelledby="searchDropdown">
                        <form class="form-inline mr-auto w-100 navbar-search">
                            <div class="input-group">
                                <input type="text" class="form-control bg-light border-0 small"
                                    placeholder="Search for..." aria-label="Search"
                                    aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="button">
                                        <i class="fas fa-search fa-sm"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </li>


                                <!-- Nav Item - Language Information -->
                <li class="nav-item dropdown no-arrow mx-1">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-globe-asia fa-lg"></i>
                        <span class="badge badge-primary badge-counter">{% blocktrans context "Language"%}English{% endblocktrans %}</span>
                    </a>

                    <!-- Dropdown - Language Information -->
                    <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                        aria-labelledby="userDropdown">
                        {% for lang_code, lang_name in LANGUAGES %}
                            <a class="dropdown-item" href="/{{ lang_code }}/">
                                <i class="fas fa-globe-asia fa-sm fa-fw mr-2 text-primary"></i>
                                {{ lang_name }}
                            </a>
                            <div class="dropdown-divider"></div>
                        {% endfor %}
                    </div>
                </li>
                
                

                    <li class="nav-item dropdown no-arrow mx-1">
                        <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-bell fa-fw"></i>
                            <!-- Counter - Alerts -->
                            {% if unseen_notification_count > 0 %}
                            <span class="badge badge-danger badge-counter">{{ unseen_notification_count }}</span>
                            {% endif %}
                        </a>
                        <!-- Dropdown - Alerts -->
                        <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
                            <h6 class="dropdown-header">
                                {% blocktrans %}Recent Actions:{% endblocktrans %}
                            </h6>
                            {% if user|user_role == 'moderator' %}
                            {% with moderator_found=False %}
                                {% for action in recent_actions %}
                                    {% if action.user == user %}
                                        {% with moderator_found=True %}
                                            <!-- Display action for the logged-in moderator -->
                                            {% for action in recent_actions %}
                                                {% if forloop.counter <= 10 %}
                                                    <a class="dropdown-item d-flex align-items-center" href="#">
                                                        <!-- Start Display action content -->
                                                        <div class="mr-3">
                                                            {% if action.is_addition %}
                                                                <div class="icon-circle bg-light">
                                                                    <i class="fas fa-plus text-success"></i>
                                                                </div>
        
                                                            {% elif action.is_change %}
        
                                                                <div class="icon-circle bg-light">
                                                                    <i class="fas fa-edit text-warning"></i>
                                                                </div>
        
                                                            {% elif action.is_deletion %}
                                                                <div class="icon-circle bg-light">
                                                                    <i class="fas fa-trash text-danger"></i>
                                                                </div>
                                                            {% endif %}
                                                                
                                                            </div>
                                                            <div>
                                                            <div class="small text-gray-500">
                                                                {% if action.user %}
                                                                <span>{{ action.user.username }}</span>
                                                                {% endif %} | {{ action.action_time|date:"F j, Y, g:i a" }}</div>
                                                                    <span class="font-weight-bold">
                                                                        {% if action.object|get_model_name == 'medicine' %}
                                                                        <a href="{{ action.object.get_admin_url }}">{{ action.object }}</a>
                                                                    {% elif action.object|get_model_name == 'auth_user' %}
                                                                        <a href="{% url 'admin:auth_user_change' action.object.id %}">{{ action.object }}</a>
                                                                    {% elif action.object|get_model_name == 'company' %}
                                                                        <a href="{% url 'admin:dashboard_company_change' action.object.id %}">{{ action.object }}</a>
                                                                    {% elif action.object|get_model_name == 'customer' %}
                                                                        <a href="{% url 'admin:dashboard_customer_change' action.object.id %}">{{ action.object }}</a>
                                                                    {% elif action.object|get_model_name == 'profile' %}
                                                                        <a href="{% url 'admin:dashboard_profile_change' action.object.id %}">{{ action.object }}</a>
                                                                    {% else %}
                                                                        {{ action.object_repr }}
                                                                    {% endif %}
                                                                <span> - {{ action.content_type.model }}</span>
                                                            </div>
                                                        <!-- End Display action content -->
                                                    </a>
                                                {% endif %}
                                            {% empty %}
                                                <p class="dropdown-item">{% blocktrans %}No recent actions found for the logged-in moderator.{% endblocktrans %}</p>
                                            {% endfor %}
                                        {% endwith %}
                                    {% endif %}
                                {% endfor %}
                                {% if not moderator_found %}
                                <p class="p-3">{% blocktrans %} No recent actions found for{% endblocktrans %}<strong>{{ user.username }}</strong>.</p>
                                {% endif %}
                            {% endwith %}
                        {% elif user|user_role == 'admin' %}
                            <!-- Display action for the logged-in admin -->
                            {% for action in recent_actions %}
                                {% if forloop.counter <= 10 %}
                                    <a class="dropdown-item d-flex align-items-center" href="#">
                                        <!-- Start Display action content -->
                                        <div class="mr-3">
                                            {% if action.is_addition %}
                                                <div class="icon-circle bg-light">
                                                    <i class="fas fa-plus text-success"></i>
                                                </div>

                                            {% elif action.is_change %}

                                                <div class="icon-circle bg-light">
                                                    <i class="fas fa-edit text-warning"></i>
                                                </div>

                                            {% elif action.is_deletion %}
                                                <div class="icon-circle bg-light">
                                                    <i class="fas fa-trash text-danger"></i>
                                                </div>
                                            {% endif %}
                                                
                                            </div>
                                            <div>
                                            <div class="small text-gray-500">
                                                {% if action.user %}
                                                <span>{{ action.user.username }}</span>
                                                {% endif %} | {{ action.action_time|date:"F j, Y, g:i a" }}</div>
                                                    <span class="font-weight-bold">
                                                        {% if action.object|get_model_name == 'medicine' %}
                                                        <a href="{{ action.object.get_admin_url }}">{{ action.object }}</a>
                                                    {% elif action.object|get_model_name == 'auth_user' %}
                                                        <a href="{% url 'admin:auth_user_change' action.object.id %}">{{ action.object }}</a>
                                                    {% elif action.object|get_model_name == 'company' %}
                                                        <a href="{% url 'admin:dashboard_company_change' action.object.id %}">{{ action.object }}</a>
                                                    {% elif action.object|get_model_name == 'customer' %}
                                                        <a href="{% url 'admin:dashboard_customer_change' action.object.id %}">{{ action.object }}</a>
                                                    {% elif action.object|get_model_name == 'profile' %}
                                                        <a href="{% url 'admin:dashboard_profile_change' action.object.id %}">{{ action.object }}</a>
                                                    {% else %}
                                                        {{ action.object_repr }}
                                                    {% endif %}
                                                <span> - {{ action.content_type.model }}</span>
                                            </div>
                                        <!-- End Display action content -->
                                    </a>
                                {% endif %}
                            {% empty %}
                                <p>{% blocktrans %} No recent actions found.{% endblocktrans %}</p>
                            {% endfor %}
                            <a class="dropdown-item text-center small text-gray-500" href="{% url 'actionrecord' %}">{% blocktrans %}Show All Alerts{% endblocktrans %}</a>
                        {% endif %}         
                    </li>
                   
                <div class="topbar-divider d-none d-sm-block"></div>
                <!-- Nav Item - User Information -->
                <li class="nav-item dropdown no-arrow">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="mr-2 d-none d-lg-inline text-gray-600 small">
                            <b>  {{user}}</b> <br> 
                        <span class="mr-2 text-gray-600 small"> <i class="fas fa-circle" style="color:green;"></i> {{user.profile.user_type}} </span>
                        </span>
                        <img class="img-profile rounded-circle"
                            src="{{ user.profile.avatar.url }}">
                    </a>
                    <!-- Dropdown - User Information -->
                    <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                        aria-labelledby="userDropdown">
                        <a class="dropdown-item" href="{% url 'profile' %}">
                            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                            {% blocktrans %}Profile{% endblocktrans %}
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-danger" href="#" data-toggle="modal" data-target="#logoutModal">
                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-danger"></i>
                            {% blocktrans %}Logout{% endblocktrans %}
                        </a>
                    </div>
                </li>

            </ul>

        </nav>
        <!-- End of Topbar -->



        {%block template %}



        {%endblock %}


    </div>
    <!-- End of Main Content -->

<!-- Footer -->
<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>{% blocktrans %}Copyright{% endblocktrans %}&nbsp;&copy;{% blocktrans %}Darmaltoon 2023 | All Rights Reserved{% endblocktrans %}</span>
        </div>
    </div>
</footer>
<!-- End of Footer -->

</div>
<!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
<i class="fas fa-angle-up"></i>
</a>



<script>
    // Check if the page was accessed via the browser's history
    if (performance.navigation.type === 2) {
      // Redirect to the login page to avoid showing the logout modal
      window.location.replace("/user/login");
    }
    
    // Disable caching of this page
    window.onpageshow = function(event) {
      if (event.persisted) {
        window.location.reload();
      }
    };
  </script>



<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{% blocktrans %}Ready to Leave?{% endblocktrans %}</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">{% blocktrans %}Select "Logout" below if you are ready to end your current session.{% endblocktrans %}</div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" data-dismiss="modal">{% blocktrans %}Cancel{% endblocktrans %}</button>
                <a class="btn btn-danger" href="{% url 'logout' %}">{% blocktrans %}Logout{% endblocktrans %}</a>
            </div>
        </div>
    </div>
</div>
</div>
</div>

<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
(function () {
'use strict'

// Fetch all the forms we want to apply custom Bootstrap validation styles to
var forms = document.querySelectorAll('.needs-validation')

// Loop over them and prevent submission
Array.prototype.slice.call(forms)
  .forEach(function (form) {
    form.addEventListener('submit', function (event) {
      if (!form.checkValidity()) {
        event.preventDefault()
        event.stopPropagation()
      }

      form.classList.add('was-validated')
    }, false)
  })
})()


</script>




<!-- change_password_confirmation_modal.html -->
<div id="confirmChangePasswordModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="confirmChangePasswordModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="confirmChangePasswordModalLabel">{% blocktrans %}Confirm Password{% endblocktrans %}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div>
            <!-- Display messages above the modal header -->
            <div>
                {% if messages %}
                              <div class="alert alert-danger">
                                  
                                      {% for message in messages %}
                                      {{ message }}
                                      {% endfor %}
                                  
                              </div>
                            {% endif %}
            </div>
        </div>
        <form id="confirmChangePasswordForm" method="post" action="{% url 'confirmpassword' %}">
            {% csrf_token %}
          <div class="modal-body">
            <div class="form-group">
              <label for="confirmPassword">{% blocktrans %}Enter Your Current Password{% endblocktrans %}</label>
              <input type="password" class="form-control" id="confirmPassword" name="confirm_password" required pattern="^(?=.*\S).+$">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">{% blocktrans %}Close{% endblocktrans %}</button>
            <button type="submit" class="btn btn-primary">{% blocktrans %}Confirm{% endblocktrans %}</button>
          </div>
        </form>
      </div>
    </div>
  </div>




<!-- Bootstrap core JavaScript-->
<script src="{% static 'dashboard/vendor/jquery/jquery.min.js' %}"></script>


<script src="{% static 'dashboard/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Core plugin JavaScript-->
<script src="{% static 'dashboard/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

<!-- Page level plugins -->
<script src="{% static 'dashboard/vendor/chart.js/Chart.min.js' %}"></script>
<script src="{% static 'dashboard/vendor/chart.js/chartjs-plugin-doughnutlabel.min.js' %}"></script>

{% comment %} <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-doughnutlabel@1.0.0"></script> {% endcomment %}



<!-- Page level custom scripts -->
<script src="{% static 'dashboard/js/demo/chart-area-demo.js' %}"></script>
<script src="{% static 'dashboard/js/demo/chart-pie-demo.js' %}"></script>

<!-- Custom scripts for all pages-->
<script src="{% static 'dashboard/js/sb-admin-2.min.js' %}"></script>

<!-- Page level plugins -->
<script src="/static/dashboard/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/static/dashboard/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="/static/dashboard/js/demo/datatables-demo.js"></script>
<script src="{% static 'dashboard/js/custom/custom.js' %}"></script>




</body>

</html>















