{% extends "dashboard/base.html" %}
{% load i18n %}

{% block title%} {% blocktrans %}Update Medicine{% endblocktrans %} {% endblock%}

{%block template%}

<div class="container-fluid">

  <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
              <div class="col-lg-12">
                  <div class="pt-5 pb-5">
                      <div class="text-center">
                          <h1 class="h4 text-gray-900 mb-4">{% blocktrans %}Update Medicine Form{% endblocktrans %}</h1>
                      </div>
                      {% if messages %}
                          <div class="container">
                            <div class="alert alert-danger">
                              
                              {% for message in messages %}
                              {{ message }}
                              {% endfor %}
                          
                      </div>
                          </div>
                        {% endif %}

                        
                      <div class="container-fluid">
                          <form class="user needs-validation row" novalidate autocomplete="off" method="post">
                            {% csrf_token %}
                                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4 pt-4">
                                  <label class="ml-3 font-weight-bold" style="font-size:13px;" for="MedicineName" class="form-label">{% blocktrans %}Medicine Name{% endblocktrans %}</label>
                                  <input type="text" class="form-control form-control-user" id="MedicineName" value="{{ form.name.value }}" name="name"
                                      placeholder="Medicine Name" autofocus required pattern="^[A-Za-z][A-Za-z0-9_ ]{2,29}$">
                                      <div class="valid-tooltip">
                                        {% blocktrans %}Looks good!{% endblocktrans %}
                                        </div>
                                        <div class="invalid-tooltip">
                                          {% blocktrans %}Please Write a valid Medicine Name{% endblocktrans %}
                                        </div>
                              </div>
                              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4 pt-4">
                                  <label class="ml-3 font-weight-bold" style="font-size:13px;" for="MedicalType" class="form-label">{% blocktrans %}Medical Type{% endblocktrans %}</label>
                                  <select style="font-size: 1rem; border-radius: 10rem; margin-top:7px;" class="form-select form-control" id="MedicalType" name="type" required>
                                    <option selected disabled value="">Choose Type</option>
                                    {% for type in medical_type %}
                                    <option value="{{ type.id }}" {% if type.id == selected_type %}selected{% endif %}>{{ type.name }}</option>
                                    {% endfor %}
                                </select>
                                      <div class="valid-tooltip">
                                        {% blocktrans %}Looks good!{% endblocktrans %}
                                        </div>
                                        <div class="invalid-tooltip">
                                          {% blocktrans %}Please Write a valid Medical Type{% endblocktrans %}
                                        </div>
                              </div>
                              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4 pt-4">
                                  <label class="ml-3 font-weight-bold" style="font-size:13px;" for="BuyPrice" class="form-label">{% blocktrans %}Buy Price{% endblocktrans %}</label>
                                  <input type="number" class="form-control form-control-user" id="BuyPrice" value="{{ form.buy_price.value|floatformat:"-2" }}" name="buy_price"
                                      placeholder="Buy Price" required pattern="^[0-9]{1,15}$">
                                      <div class="valid-tooltip">
                                        {% blocktrans %}Looks good!{% endblocktrans %}
                                        </div>
                                        <div class="invalid-tooltip">
                                          {% blocktrans %}Please Insert a valid Number{% endblocktrans %}
                                        </div>
                              </div>
                              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4 pt-4">
                                  <label class="ml-3 font-weight-bold" style="font-size:13px;" for="SellPrice" class="form-label">{% blocktrans %}Sell Price{% endblocktrans %}</label>
                                  <input type="number" class="form-control form-control-user" id="SellPrice" value="{{ form.sell_price.value|floatformat:"-2" }}" name="sell_price"
                                      placeholder="Sell Price" required pattern="^[0-9]{1,15}$">
                                      <div class="valid-tooltip">
                                        {% blocktrans %}Looks good!{% endblocktrans %}
                                        </div>
                                        <div class="invalid-tooltip">
                                          {% blocktrans %}Please Insert a valid Number{% endblocktrans %}
                                        </div>
                              </div>
                              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4 pt-4">
                                  <label class="ml-3 font-weight-bold" style="font-size:13px;" for="ExpDate">&nbsp; &nbsp;{% blocktrans %}Expire Date{% endblocktrans %}</label>
                                  <input type="date" class="form-control form-control-user" value="{{ form.exp_date.value|date:'Y-m-d' }}" name="exp_date"
                                      id="ExpDate" placeholder="Exp Date" required pattern="^[0-9]{7,29}$">
                                      <div class="valid-tooltip">
                                        {% blocktrans %}Looks good!{% endblocktrans %}
                                        </div>
                                        <div class="invalid-tooltip">
                                          {% blocktrans %}Please Write a valid Expiration Date{% endblocktrans %}
                                        </div>
                              </div>
                              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4 pt-4">
                                  <label class="ml-3 font-weight-bold" style="font-size:13px;" for="MfgDate">&nbsp; &nbsp;{% blocktrans %}Manufacture Date{% endblocktrans %}</label>
                                  <input type="date" class="form-control form-control-user" value="{{ form.mfg_date.value|date:'Y-m-d' }}" name="mfg_date"
                                      id="MfgDate" placeholder="Mfg Date" required pattern="^[0-9]{7,29}$">
                                      <div class="valid-tooltip">
                                        {% blocktrans %}Looks good!{% endblocktrans %}
                                        </div>
                                        <div class="invalid-tooltip">
                                          {% blocktrans %}Please Write a valid Manufacture Date{% endblocktrans %}
                                        </div>
                              </div> 
                              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4 pt-4">
                                  <label class="ml-3 font-weight-bold" style="font-size:13px;" for="CompanyId" class="form-label">{% blocktrans %}Company ID{% endblocktrans %}</label>
                                  <select style="font-size: 1rem; border-radius: 10rem; margin-top:7px;" class="form-select form-control" id="CompanyId" required name="company">
                                    <option value="">{% blocktrans %}-- Select Company --{% endblocktrans %}</option>
                                    {% for company in company_list %}
                                        <option value="{{ company.id }}" {% if company.id == selected_company %}selected{% endif %}>{{ company.name }}</option>
                                    {% endfor %}
                                </select>
                                
                                
                                
                                    <div class="invalid-tooltip">
                                      {% blocktrans %}Please select a valid Company{% endblocktrans %}
                                    </div>
                                    <div class="valid-tooltip">
                                      {% blocktrans %}Looks good!{% endblocktrans %}
                                    </div>
                              </div>
                              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4 pt-4">
                                  <label class="ml-3 font-weight-bold" style="font-size:13px;" for="Description" class="form-label">{% blocktrans %}Medicine Description{% endblocktrans %}</label>
                                  <input type="text" class="form-control form-control-user" id="Description" value="{{ form.description.value }}" name="description"
                                      placeholder="Description" required pattern="^[A-Za-z0-9_-\. ]{2,200}$">
                                      <div class="valid-tooltip">
                                        {% blocktrans %}Looks good!{% endblocktrans %}
                                        </div>
                                        <div class="invalid-tooltip">
                                          {% blocktrans %}Please Write a valid Description{% endblocktrans %}
                                        </div>
                              </div>
                              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4 pt-4">
                                  <label class="ml-3 font-weight-bold" style="font-size:13px;" for="InStockTotal" class="form-label">{% blocktrans %}In Stock Total{% endblocktrans %}</label>
                                  <input type="number" class="form-control form-control-user" id="InStockTotal" value="{{ form.in_stock_total.value }}" name="in_stock_total"
                                      placeholder="In Stock Total" required pattern="^[0-9]{1,10}$">
                                      <div class="valid-tooltip">
                                        {% blocktrans %}Looks good!{% endblocktrans %}
                                        </div>
                                        <div class="invalid-tooltip">
                                          {% blocktrans %}Please Write a valid number{% endblocktrans %}
                                        </div>
                              </div>
                              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4 pt-4">
                                  <label class="ml-3 font-weight-bold" style="font-size:13px;" for="QtyInStrip" class="form-label">{% blocktrans %}Quantity In Strip{% endblocktrans %}</label>
                                  <input type="number" class="form-control form-control-user" id="QtyInStrip" value="{{ form.qty_in_strip.value }}" name="qty_in_strip"
                                      placeholder="Quantity In Strip" required pattern="^[0-9]{1,10}$">
                                      <div class="valid-tooltip">
                                        {% blocktrans %}Looks good!{% endblocktrans %}
                                        </div>
                                        <div class="invalid-tooltip">
                                          {% blocktrans %}Please Write a valid number{% endblocktrans %}
                                        </div>
                              </div>
                            
                            <br>
                            <div class="col-12 pt-4 mt-3">
                              <button type="submit" class="btn btn-primary btn-user btn-block">{% blocktrans %}Update Medicine{% endblocktrans %}</submit>

                            </div>
                            <div class="col-12 pt-4 mt-3">
                                <a href="{% url 'medicinelist' %}" class="btn btn-danger btn-user btn-block" data-dismiss="modal">{% blocktrans %}Cancel{% endblocktrans %}</a>
                            </div>
                            </form>
                        </div>

                  </div>
              </div>
          </div>
      </div>
  </div>
</div>






{%endblock%}

