{% extends "dashboard/base.html" %}
{% load i18n %}

{% block title%}{% blocktrans %}All Medicine List{% endblocktrans %}{% endblock%}

{%block template%}

            <!-- Main Content -->
            <div id="content">
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">{% blocktrans %}All Medicine Details{% endblocktrans %}</h1>
                       
                          
                          <a href="{% url 'addmedicine' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">{% blocktrans %}Add Medicine{% endblocktrans %}</a>
                        
                    </div>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3 d-flex align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">{% blocktrans %}List of all Medicine record{% endblocktrans %}</h6>
                            <div>

                            {% comment %} {% if messages %}
                              {% for message in messages %}
                                  {% if message.tags %}
                                      {% if message.tags == 'success' %}
                                      <h6 {% if message.tags %} class=" {{ message.tags }} m-0 font-weight-bold text-secondary" {% endif %}> <i class="fas fa-plus text-primary fa-small"></i> {{ message }}</h6>
                                      {% elif message.tags == 'error' %}
                                          <h6 class="error-message">{{ message }}</h6>
                                      {% else %}
                                          <h6>{{ message }}</h6>
                                      {% endif %}
                                  {% else %}
                                      <h6>{{ message }}</h6>
                                  {% endif %}
                              {% endfor %}
                            {% endif %} {% endcomment %}
                            {% if messages %}
                              {% for message in messages %}
                                  {% if message.tags %}
                                      {% if message.tags == 'success' %}
                                          {% if 'add' in message.tags %}
                                              <h6 class="success-message">
                                                  <i class="fas fa-plus text-primary fa-small"></i> {{ message }}
                                              </h6>
                                          {% elif 'edit' in message.tags %}
                                              <h6 class="success-message">
                                                  <i class="fas fa-edit text-primary fa-small"></i> {{ message }}
                                              </h6>
                                          {% else %}
                                              <h6 class="success-message">{{ message }}</h6>
                                          {% endif %}
                                      {% elif message.tags == 'error' %}
                                          <h6 class="error-message">{{ message }}</h6>
                                      {% else %}
                                          <h6>{{ message }}</h6>
                                      {% endif %}
                                  {% else %}
                                      <h6>{{ message }}</h6>
                                  {% endif %}
                              {% endfor %}
                          {% endif %}





                        
                            

                            </div>
                        </div>
                        
                        <div class="card-body">
                            <div class="table-responsive">
                                {% if no_medicine %}
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>{% blocktrans %}Medicine ID{% endblocktrans %}</th>
                                            <th>{% blocktrans %}Medicine Name{% endblocktrans %}</th>
                                            <th>{% blocktrans %}Medical Type{% endblocktrans %}</th>
                                            <th>{% blocktrans %}Buy Price{% endblocktrans %}</th>
                                            <th>{% blocktrans %}Sell Price{% endblocktrans %}</th>
                                            <th>{% blocktrans %}Exp Date{% endblocktrans %}</th>
                                            <th>{% blocktrans %}Mfg Date{% endblocktrans %}</th>
                                            <th>{% blocktrans %}Company ID{% endblocktrans %}</th>
                                            <th>{% blocktrans %}Description{% endblocktrans %}</th>
                                            <th>{% blocktrans %}In Stock Total{% endblocktrans %}</th>
                                            <th>{% blocktrans %}Qty in Strip{% endblocktrans %}</th>
                                            <th>{% blocktrans %}Added on{% endblocktrans %}</th>
                                            <th>{% blocktrans %}Added By{% endblocktrans %}</th>
                                            {% if user_type == 'admin' %}
                                            <th>{% blocktrans %}Action{% endblocktrans %}</th>
                                            {% endif %}
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>{% blocktrans %}Medicine ID{% endblocktrans %}</th>
                                            <th>{% blocktrans %}Medicine Name{% endblocktrans %}</th>
                                            <th>{% blocktrans %}Medical Type{% endblocktrans %}</th>
                                            <th>{% blocktrans %}Buy Price{% endblocktrans %}</th>
                                            <th>{% blocktrans %}Sell Price{% endblocktrans %}</th>
                                            <th>{% blocktrans %}Exp Date{% endblocktrans %}</th>
                                            <th>{% blocktrans %}Mfg Date{% endblocktrans %}</th>
                                            <th>{% blocktrans %}Company ID{% endblocktrans %}</th>
                                            <th>{% blocktrans %}Description{% endblocktrans %}</th>
                                            <th>{% blocktrans %}In Stock Total{% endblocktrans %}</th>
                                            <th>{% blocktrans %}Qty in Strip{% endblocktrans %}</th>
                                            <th>{% blocktrans %}Added on{% endblocktrans %}</th>
                                            <th>{% blocktrans %}Added By{% endblocktrans %}</th>
                                            {% if user_type == 'admin' %}
                                            <th>{% blocktrans %}Action{% endblocktrans %}</th>
                                            {% endif %}
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        {% for medicine in all_medicines %}
                                        <tr>
                                            <td>{{ medicine.id }}</td>
                                            <td>{{ medicine.name }}</td>
                                            <td>{{ medicine.type }}</td>
                                            <td>{% blocktrans %}AFN{% endblocktrans %}&nbsp;{{ medicine.buy_price }}</td>
                                            <td>{% blocktrans %}AFN{% endblocktrans %}&nbsp;{{ medicine.sell_price }}</td>
                                            {% if medicine in expiredmidicine %}
                                            <td class="text-danger">{{ medicine.exp_date }}</td>
                                          
                                            {% elif medicine in expiring_this_month %}
                                            <td class="text-warning">{{ medicine.exp_date }}</td>
                                            {% elif medicine in expiring_soon %}
                                            <td class="text-warning">{{ medicine.exp_date }}</td>
                                            {% else %}
                                            <td>{{ medicine.exp_date }}</td>
                                            {% endif %}
                                            <td>{{ medicine.mfg_date }}</td>
                                            <td>{{ medicine.company }}</td>
                                            <td>{{ medicine.description }}</td>
                                            {% if medicine.in_stock_total == 0 %}
                                                <td class="text-danger">{{ medicine.in_stock_total }}</td>
                                            {% elif medicine.in_stock_total < 10 %}
                                                <td class="text-warning">{{ medicine.in_stock_total }}</td>
                                            {% else %}
                                                <td class="text-primary">{{ medicine.in_stock_total }}</td>
                                            {% endif %}
                                            <td>{{ medicine.qty_in_strip }}</td>
                                            <td>{{ medicine.added_on }}</td>
                                            <td>{{ medicine.added_by }}</td>
                                            {% if user_type == 'admin' %}
                                            <td class="text-center">
                                                {% comment %} <a href="#" class="btn btn-info btn-icon-split" data-toggle="modal" data-target="#EditMedicineModal{{ medicine.id }}">
                                                    <span class="icon text-white-50">
                                                        <i class="fas fa-edit"></i>
                                                    </span>
                                                    <span class="text">Edit</span>
                                                </a> {% endcomment %}
                                                <a href="{% url 'updatemedicine' record_id=medicine.id %}" class="btn btn-info btn-icon-split">
                                                  <span class="icon text-white-50">
                                                      <i class="fas fa-edit"></i>
                                                  </span>
                                                  <span class="text">{% blocktrans %}Edit{% endblocktrans %}</span>
                                              </a>
                                              
                                              
                                                
                                                <a href="#" data-toggle="modal" data-target="#DeleteMedicineModal{{ medicine.id }}" class="btn btn-danger btn-icon-split">
                                                    <span class="icon text-white-50">
                                                        <i class="fas fa-trash"></i>
                                                    </span>
                                                    <span class="text">{% blocktrans %}Delete{% endblocktrans %}</span>
                                                </a>
                                            </td>
                                            {% endif %}
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                {% else %}
                                <p>{% blocktrans %}No records found{% endblocktrans %}</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->



{% for medicine in all_medicines %}

  <!-- Delete Modal -->
  <div class="modal fade" id="DeleteMedicineModal{{ medicine.id }}" tabindex="-1" role="dialog" aria-labelledby="DeleteMedicineModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-danger" id="DeleteMedicineModalTitle">{% blocktrans %}Warning{% endblocktrans %}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span class="text-danger" aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="row card m-3">   
              <ul class="list-group">
                <li class="list-group-item list-group-item-action list-group-item-primary">{% blocktrans %}You are about to delete medicine record{% endblocktrans %}</li>
                <li class="list-group-item"><strong class="text-dark">{% blocktrans %}Name{% endblocktrans %}:</strong> {{ medicine.name }}</li>
                <li class="list-group-item"><strong class="text-dark">{% blocktrans %}Company{% endblocktrans %}:</strong> {{ medicine.company }}</li>
                <li class="list-group-item"><strong class="text-dark">{% blocktrans %}Stock{% endblocktrans %}:</strong> {{ medicine.in_stock_total }}</li>
                <li class="list-group-item"><strong class="text-dark">{% blocktrans %}Added By{% endblocktrans %}:</strong> {{ medicine.added_by }}</li>
              </ul>
              <div class="list-group-item list-group-item-action list-group-item-primary text-secondary">{% blocktrans %}click{% endblocktrans %}<span class="text-danger">{% blocktrans %}delete{% endblocktrans %}</span>&nbsp;{% blocktrans %}to proceed or{% endblocktrans %}&nbsp;<span class="text-danger">{% blocktrans %}Cancel{% endblocktrans %}</span>&nbsp;{% blocktrans %}to dismiss{% endblocktrans %}</div>
            </div>
        </div>
        <form class="user">
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-user btn-block" data-dismiss="modal">{% blocktrans %}Cancel{% endblocktrans %}</button>
                <button type="button" class="btn btn-danger btn-user btn-block">{% blocktrans %}Delete{% endblocktrans %}</button>
              </div>
        </form>
      </div>
    </div>
  </div>
  {% endfor %}
  <!--End Delete Modal -->
  

<!-- Success Modal -->
<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="successModalLabel">{% blocktrans %}Success{% endblocktrans %}</h5>
      </div>
      <div class="modal-body">
        <p id="successMessage"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">{% blocktrans %}OK{% endblocktrans %}</button>
      </div>
    </div>
  </div>
</div>




{%endblock%}

